# Protection du dossier admin
Options -Indexes

# Protection des fichiers sensibles
<FilesMatch "\.(sqlite|db|sql|log)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Protection du dossier data
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^../data/ - [F,L]
</IfModule>
